body{
    background-color: grey;
}

/* #main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 676px;
    margin: 0 0 10px 0;
} */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

#main-div img{
    height: 720px;
    width: 100%;
}

#main-div h1{
    font-size: 43px;
    color: black;
    text-align: left;
    border-bottom: 3px solid black;
    width: 70%;
}
#main-div h2{
    font-size: 40px;
    color: black;
    text-align: center;
}
